In [1]:
import pandas as pd

In [2]:
# Import data

df = pd.read_csv('data/training.csv')

In [3]:
df['TransactionStartTime'].head()

0    2018-11-15T02:18:49Z
1    2018-11-15T02:19:08Z
2    2018-11-15T02:44:21Z
3    2018-11-15T03:32:55Z
4    2018-11-15T03:34:21Z
Name: TransactionStartTime, dtype: object

In [4]:
# Transform type object to type datetime

df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'])

In [5]:
df['TransactionStartTime'].head()

0   2018-11-15 02:18:49+00:00
1   2018-11-15 02:19:08+00:00
2   2018-11-15 02:44:21+00:00
3   2018-11-15 03:32:55+00:00
4   2018-11-15 03:34:21+00:00
Name: TransactionStartTime, dtype: datetime64[ns, UTC]

In [6]:
# Split date and time

df['Date'] = df['TransactionStartTime'].dt.date
df['Time'] = df['TransactionStartTime'].dt.time

In [7]:
df['Date'].head()

0    2018-11-15
1    2018-11-15
2    2018-11-15
3    2018-11-15
4    2018-11-15
Name: Date, dtype: object

In [8]:
df['Time'].head()

0    02:18:49
1    02:19:08
2    02:44:21
3    03:32:55
4    03:34:21
Name: Time, dtype: object

In [9]:
# Split Date into year, month, day and day of week

df['Year'] = df['TransactionStartTime'].dt.year
df['Month'] = df['TransactionStartTime'].dt.month
df['Day'] = df['TransactionStartTime'].dt.day

# 0 = Monday - 6 = Sunday

df['Day_of_week'] = df['TransactionStartTime'].dt.dayofweek

In [10]:
df['Day_of_week'].head()

0    3
1    3
2    3
3    3
4    3
Name: Day_of_week, dtype: int64

In [11]:
df.sample(10)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Value,TransactionStartTime,PricingStrategy,FraudResult,Date,Time,Year,Month,Day,Day_of_week
47685,TransactionId_120436,BatchId_60932,AccountId_3595,SubscriptionId_1749,CustomerId_4033,UGX,256,ProviderId_6,ProductId_3,airtime,...,500,2018-12-31 14:16:33+00:00,2,0,2018-12-31,14:16:33,2018,12,31,0
94753,TransactionId_75326,BatchId_132285,AccountId_4562,SubscriptionId_1211,CustomerId_5026,UGX,256,ProviderId_6,ProductId_10,airtime,...,20000,2019-02-12 13:00:28+00:00,2,0,2019-02-12,13:00:28,2019,2,12,1
26643,TransactionId_107583,BatchId_114683,AccountId_4023,SubscriptionId_2953,CustomerId_4473,UGX,256,ProviderId_6,ProductId_3,airtime,...,1000,2018-12-14 11:53:10+00:00,2,0,2018-12-14,11:53:10,2018,12,14,4
506,TransactionId_100454,BatchId_7235,AccountId_4841,SubscriptionId_3829,CustomerId_1979,UGX,256,ProviderId_4,ProductId_6,financial_services,...,50,2018-11-15 16:28:51+00:00,2,0,2018-11-15,16:28:51,2018,11,15,3
24659,TransactionId_119323,BatchId_14897,AccountId_2682,SubscriptionId_1382,CustomerId_3102,UGX,256,ProviderId_6,ProductId_1,airtime,...,5000,2018-12-13 06:59:25+00:00,2,0,2018-12-13,06:59:25,2018,12,13,3
64695,TransactionId_101460,BatchId_11499,AccountId_2203,SubscriptionId_2113,CustomerId_2612,UGX,256,ProviderId_6,ProductId_10,airtime,...,1000,2019-01-18 16:50:00+00:00,2,0,2019-01-18,16:50:00,2019,1,18,4
82393,TransactionId_63435,BatchId_40219,AccountId_2966,SubscriptionId_1651,CustomerId_3391,UGX,256,ProviderId_5,ProductId_15,financial_services,...,7000,2019-02-01 17:52:39+00:00,2,0,2019-02-01,17:52:39,2019,2,1,4
44567,TransactionId_130207,BatchId_107360,AccountId_2591,SubscriptionId_4186,CustomerId_3008,UGX,256,ProviderId_6,ProductId_21,utility_bill,...,20770,2018-12-28 14:33:26+00:00,2,0,2018-12-28,14:33:26,2018,12,28,4
31470,TransactionId_119248,BatchId_25889,AccountId_3465,SubscriptionId_2781,CustomerId_3900,UGX,256,ProviderId_5,ProductId_3,airtime,...,2000,2018-12-18 09:21:42+00:00,4,0,2018-12-18,09:21:42,2018,12,18,1
65457,TransactionId_99437,BatchId_112881,AccountId_2990,SubscriptionId_216,CustomerId_3415,UGX,256,ProviderId_5,ProductId_15,financial_services,...,1400,2019-01-19 11:41:49+00:00,2,0,2019-01-19,11:41:49,2019,1,19,5