In [1]:
import pandas as pd

In [2]:
# Import data

df = pd.read_csv('data/training.csv')

In [3]:
df['TransactionStartTime'].head()

0    2018-11-15T02:18:49Z
1    2018-11-15T02:19:08Z
2    2018-11-15T02:44:21Z
3    2018-11-15T03:32:55Z
4    2018-11-15T03:34:21Z
Name: TransactionStartTime, dtype: object

In [4]:
# Transform type object to type datetime

df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'])

In [5]:
df['TransactionStartTime'].head()

0   2018-11-15 02:18:49+00:00
1   2018-11-15 02:19:08+00:00
2   2018-11-15 02:44:21+00:00
3   2018-11-15 03:32:55+00:00
4   2018-11-15 03:34:21+00:00
Name: TransactionStartTime, dtype: datetime64[ns, UTC]

In [6]:
# Split date and time

df['Date'] = df['TransactionStartTime'].dt.date
df['Time'] = df['TransactionStartTime'].dt.time

In [7]:
df['Date'].head()

0    2018-11-15
1    2018-11-15
2    2018-11-15
3    2018-11-15
4    2018-11-15
Name: Date, dtype: object

In [8]:
df['Time'].head()

0    02:18:49
1    02:19:08
2    02:44:21
3    03:32:55
4    03:34:21
Name: Time, dtype: object

In [9]:
# Split Date into year, month, day and day of week

df['Year'] = df['TransactionStartTime'].dt.year
df['Month'] = df['TransactionStartTime'].dt.month
df['Day'] = df['TransactionStartTime'].dt.day

# 0 = Monday - 6 = Sunday

df['Day_of_week'] = df['TransactionStartTime'].dt.dayofweek

In [10]:
df['Day_of_week'].head()

0    3
1    3
2    3
3    3
4    3
Name: Day_of_week, dtype: int64

In [12]:
# Convert Date to type datetime

df['Date'] = pd.to_datetime(df['Date'])

In [13]:
# Create a new dataframe with transactions between 07:00 and 18:00 on workdays. 
# Indices changed! Search for TransactionID!!!

df_filtered = (df.set_index('TransactionStartTime').between_time('07:00:00', '18:00:00').reset_index().reindex(columns=df.columns))
df_filtered = df_filtered.query('Day_of_week != 5' and 'Day_of_week != 6')

In [18]:
df_filtered.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Value,TransactionStartTime,PricingStrategy,FraudResult,Date,Time,Year,Month,Day,Day_of_week
0,TransactionId_78064,BatchId_49408,AccountId_460,SubscriptionId_2976,CustomerId_790,UGX,256,ProviderId_3,ProductId_3,airtime,...,10000,2018-11-15 07:00:04+00:00,1,0,2018-11-15,07:00:04,2018,11,15,3
1,TransactionId_91257,BatchId_22084,AccountId_335,SubscriptionId_3204,CustomerId_665,UGX,256,ProviderId_6,ProductId_10,airtime,...,1000,2018-11-15 07:01:44+00:00,2,0,2018-11-15,07:01:44,2018,11,15,3
2,TransactionId_74975,BatchId_100500,AccountId_4249,SubscriptionId_4429,CustomerId_7476,UGX,256,ProviderId_4,ProductId_10,airtime,...,1000,2018-11-15 07:01:52+00:00,4,0,2018-11-15,07:01:52,2018,11,15,3
3,TransactionId_17884,BatchId_55269,AccountId_4841,SubscriptionId_3829,CustomerId_665,UGX,256,ProviderId_4,ProductId_6,financial_services,...,20,2018-11-15 07:01:56+00:00,2,0,2018-11-15,07:01:56,2018,11,15,3
4,TransactionId_82712,BatchId_97008,AccountId_1709,SubscriptionId_2587,CustomerId_2094,UGX,256,ProviderId_6,ProductId_10,airtime,...,500,2018-11-15 07:02:45+00:00,2,0,2018-11-15,07:02:45,2018,11,15,3