### Import libraries and data

In [221]:
# import libraries, packages and modules 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
import altair as alt
import warnings
from dataprep.eda import create_report
warnings.filterwarnings('ignore')

In [222]:
# import data

df = pd.read_csv("data/training.csv")

### Data cleaning

In [223]:
df.head(3)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0

In [224]:
# clean entries

df.TransactionId=df.TransactionId.str.split('_').str[-1]
df["BatchId"]=df["BatchId"].str.split('_').str[-1]
df["AccountId"]=df.TransactionId.str.split('_').str[-1]
df["SubscriptionId"]=df.TransactionId.str.split('_').str[-1]
df["CustomerId"]=df.TransactionId.str.split('_').str[-1]
df["ProviderId"]=df.TransactionId.str.split('_').str[-1]
df["ProductId"]=df.TransactionId.str.split('_').str[-1]
df["ChannelId"]=df.TransactionId.str.split('_').str[-1]

In [225]:
# drop: CountryCode (single value), CurrencyCode (single value) and Value (unclear difference between Value and Amount)
df.drop("CountryCode", axis=1, inplace=True)
df.drop("CurrencyCode", axis=1, inplace=True)
df.drop("Value", axis=1, inplace=True)

In [226]:
# create new column SignAmount with the sign of Amount (0 for - and 1 for +)
df["SignAmount"] = df["Amount"].apply(lambda x: 1 if x >= 0 else 0)

# create new column AbsAmount with the absolute of Amount
df.eval("ModAmount = abs(Amount)", inplace=True)

# delete Amount column
df.drop("Amount", axis=1, inplace=True)

In [227]:
df.head(5)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,TransactionStartTime,PricingStrategy,FraudResult,SignAmount,ModAmount
0,76871,36123,76871,76871,76871,76871,76871,airtime,76871,2018-11-15T02:18:49Z,2,0,1,1000.0
1,73770,15642,73770,73770,73770,73770,73770,financial_services,73770,2018-11-15T02:19:08Z,2,0,0,20.0
2,26203,53941,26203,26203,26203,26203,26203,airtime,26203,2018-11-15T02:44:21Z,2,0,1,500.0
3,380,102363,380,380,380,380,380,utility_bill,380,2018-11-15T03:32:55Z,2,0,1,20000.0
4,28195,38780,28195,28195,28195,28195,28195,financial_services,28195,2018-11-15T03:34:21Z,2,0,0,644.0